.sidebar {
  height: 100vh;
  padding: 1em;
  min-width: 270px;
  justify-content: center;
}

.sidebar__logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: #2b65f6;
  padding: 0.75em 0 0 0.75em;
  border-radius: 1em;
  display: block;
}

.sidebar__nav {
  margin-top: 3em;
}

.sidebar__navEl,
.sidebar__navDropdownEl {
  display: flex;
  align-items: center;
  margin: 0.75em 0;
  padding: 0.75em;
  border-radius: 1em;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.sidebar__navEl:hover,
.sidebar__navDropdownEl:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar__navEl > span,
.sidebar__navDropdownEl > span {
  margin: 0 auto 0 0.75em;
  font-weight: 600;
}

.sidebar__navEl--active {
  background-color: #538af6 !important;
  color: white;
}

.sidebar__navDropdown {
  display: none;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  margin-left: 1.4em;
}

.sidebar__navDropdownEl {
  padding-left: 0em !important;
  margin-left: 0.75em;
}

.sidebar__navDropdownEl--active {
  color: #2b65f6;
}

.sidebar__navDropdownEl--active > span {
  font-weight: 700;
}

.sidebar__navDropdown--active {
  display: block;
}
